<%= form_for @feedback, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label :date, :class => 'col-md-3 feedbackLabel' %>
    <div class="col-md-5">
      <%= f.text_field :date, :class => 'feedbackInput' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :project, :class => 'col-md-3 feedbackLabel' %>
    <div class="col-md-5">
      <%= f.text_field :project, :class => 'feedbackInput' %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 feedbackLabel" for="feedback_project">Given By</label>
    <div class="col-md-5">
      <%= f.text_field :from_user, :class => 'feedbackInput' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, :class => 'col-md-3 feedbackLabel' %>
    <div class="col-md-5">
      <%= f.text_field :category, :class => 'feedbackInput' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :message, :class => 'col-md-3 feedbackLabel' %>
    <div class="col-md-5">
      <%= f.text_field :message, :class => 'feedbackInput' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :action_plan, :class => 'col-md-3 feedbackLabel' %>
    <div class="col-md-5">
      <%= f.text_field :action_plan, :class => 'feedbackInput' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-1 col-md-5'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  feedbacks_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
