<%- model_class = Feedback -%>



<div class="container">
  <div class="row">
    <div class="col-xs-12" style="margin-top: 15px;">

      <%= form_for @feedback, :html => { :class => 'form-horizontal' } do |f| %>

          <div class="panel panel-primary" style="margin-top: 5px;">
            <div class="panel-heading">New Feedback</div>
            <div class="panel-body">

              <div class="row" style="margin-bottom: margin-top: 20px;">

                <div class="col-md-6">
                  <span class="field_header">Name</span><%= f.text_field :from_user_name, :class => 'text_field form-control' %>
                </div>
                <div class="col-md-6">
                  <span class="field_header">Email</span><%= f.text_field :from_user_email, :class => 'text_field form-control' %>
                </div>

               </div>

                <div class="row" style="margin-bottom: 30px; margin-top: 30px;">

                  <div class="col-md-6">
                    <span class="field_header">Project</span><%= f.text_field :project, :class => 'text_field form-control' %>
                  </div>
                  <div class="col-md-4">
                    <span class="field_header">Role</span><%= f.text_field :from_user_role, :class => 'text_field form-control' %>
                  </div>
                  <div class="col-md-2">
                    <span class="field_header">Date</span><%= f.text_field :date, :class => 'text_field form-control' %>
                  </div>

              </div>

              <%= render :partial => 'questions' %>
              <div class="row pull-right">
                <div class='col-md-12'>
                  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                              feedbacks_path, :class => 'btn btn-default' %>
                  <%= f.submit nil, :class => 'btn btn-primary' %>

                </div>

              </div>


            </div>
          </div>





      <% end %>


  </div>

</div>
</div>

