<%- model_class = Feedback -%>

<div class="container">
  <div class="row">
    <div class="col-xs-12" style="margin-top: 15px;">

      <div class="panel panel-primary" style="margin-top: 5px;">
        <div class="panel-heading">
          <h3>Feedback given by - <%= @feedback.from_user_name %> on <%= @feedback.date %></h3></div>
        <div class="panel-body">

          <div ng-app="cdpApp" ng-controller="EnterFeedbackCtrl as feedbackCtrl" ng-init="loadQuestions(<%= @feedback.id %>)">

            <div ng-repeat="section in questions">

              <div>
                <div class="col-md-12" style="margin-top: 30px;">
                  <b>{{section.question}}?</b>
                </div>
                <div class="col-md-12">
                  {{section.answer}}
                </div>
              </div>

            </div>

          </div>

          <div class="form-group" style="padding-top: 40px;float:left;margin-left: 15px;">
            <%= link_to t('.back', :default => t("helpers.links.back")),
                        feedbacks_path, :class => 'btn btn-default' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_feedback_path(@feedback), :class => 'btn btn-default' %>
            <%= link_to 'Delete',
                        feedback_path(@feedback),
                        :method => 'delete',
                        :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                        :class => 'btn btn-danger' %>
          </div>


        </div>

      </div>

    </div>

  </div>
</div>